/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Raleway+sans-serif:400,300,700|Raleway:400,100,300,700,500');
$base-font: 'Raleway', 'sans-serif';
$header-font: 'Raleway', 'sans-serif';

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #d23333;

$red: #ee5f5b;
$yellow: #fdb631;
$orange: #e67e22;
$green: #32b796;
$gray: #000000;

$blue: #2580c6;
$dark-blue: #e8ecf0;
$light-gray: #e7ecf1;
$main: #2580c6;
