.actualites {
  padding: 40px;
  background-size: cover !important;
  h1 {
    color: white;
    margin-bottom: 40px;
  }
}

.card {
  height: 270px;
  background-color: white;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  position: relative;
}

.date {
  color: #2580c6;
  text-align: center;
  padding: 10px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  font-family: "roboto";
}

.content-card {
  padding-right: 20px;
  padding-left: 20px;
}

.btn-card {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left:0px;
  border-top: 1px solid #e8ecf0;
  height: 40px;
  display:flex;
  align-items: center;
  justify-content: space-around;
}
