.actualites {
  padding: 40px;
  background-size: cover !important;
  margin-bottom: 50px;
  h2 {
    margin-top: 65px;
    margin-bottom: 30px;
    font-weight: bolder;
    position: relative;
    letter-spacing: 2px;
    color: white;
  }
  h2:after{
    content: "";
    position: absolute;
    width: 4%;
    height: 1px;
    bottom: -10px;
    left: 48%;
    border-bottom: 5px solid white;
  }
  p {
    color: #18243e;
    margin-bottom: 25px;
    font-weight: 370;
    text-align: center;
  }
}

.actualites-index {
  padding: 40px;
  background-size: cover !important;
  h2 {
    margin-bottom: 30px;
    font-weight: bolder;
    position: relative;
    letter-spacing: 2px;
    color: #18243e;
  }
  h2:after{
    content: "";
    position: absolute;
    width: 4%;
    height: 1px;
    bottom: -10px;
    left: 48%;
    border-bottom: 5px solid #18243e;
  }
  p {
    color: #18243e;
    margin-bottom: 25px;
    font-weight: 370;
    text-align: center;
  }
}

.card {
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  h4 {
    font-weight: 600;
    margin-bottom: 15px;
  }
}

.date {
  color: #2580c6;
  text-align: center;
  padding: 10px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  font-family: "roboto";
}

.content-card {
  margin-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
  height: 180px;
  p {
    color: #18243e;
    text-align: left;
  }
}


@media screen and (max-width: 1199px) {
  .content-card {
  height: 140px;
  }
}

@media screen and (max-width: 500px) {
  .content-card {
  height: 200px;
  }
}

@media screen and (max-width: 408px) {
  .content-card {
  height: 200px;
  }
}

.btn-card {
  border-top: 1px solid #e8ecf0;
  height: 40px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  color: #18243e;
}

.btn-card:hover {
  color: white;
  background-color: #2580c6;
}

.title-article {
    background-color: #18243e;
    padding: 15px;
    margin-bottom: 40px;
  h3 {
    position: relative;
    margin-top: 0px;
    color: white;
  }
  h3:after{
    content: "";
    position: absolute;
    width: 10%;
    left: 45%;
    border-bottom: 4px solid white;
    bottom: -5px;
  }
}

.option-article {
  margin-top: 40px;
}

@media screen and (max-width: 991px) {
  .option-article {
  display: none;
  }
}

.article-content {
  text-align: justify;
}

.card-title {
  background-color: white;
  padding: 30px;
}
.card-content {
  background-color: white;
  padding: 30px;
}

.logo-article {
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
    img {
    width: 200px;
    text-align: center;
  }
}
