.wrapper-contact {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0px;
  background-size: cover !important;
}

@media screen and (max-height: 600px) {
  .wrapper-contact {
    height: auto;
  }
}

.wrapper-contact-new {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0px;
  background-size: cover !important;
}

.contact {
  min-width: 100%;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
   -o-animation: fadein 1s; /* Opera < 12.1 */
      animation: fadein 1s;
}

@media screen and (max-width: 1199px) {
  .wrapper-contact {
    height: auto;
  }
}

@media screen and (max-width: 1199px) {
  .wrapper-contact-new {
    height: auto;
  }
}

.card-contact {
  background-image: image-url("clem-et-mat.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  // min-height: 80vh;
  // position: relative;
  h2 {
    // padding-top: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: bolder;
    position: relative;
    letter-spacing: 2px;
    text-align: center;
  }
  h2:after{
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    bottom: -10px;
    left: 45%;
    border-bottom: 5px solid #18243e;
  }
  h4 {
    font-weight: 300;
    padding-top: 20px;
  }
  h5 {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    margin-bottom: 8px;
    text-align: center;
  }
  iframe {
    width: 100%;
    height: 300px;
    padding: 20px;
  }
  img {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 100px;
    border: 1px solid #ddd2d2;
  }
}

@media screen and (min-width: 1200px) {
  .avatar-contact {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .card-contact {
    background-image: none;
    padding: 15px;
  }
}

.contact-form {
  padding: 30px 0;
}

.form-horizontal {
  padding: 20px;
  // margin-top: 20px;
  position: relative;
  input {
    width: 90%;
    margin: auto;
    letter-spacing: 1.1px;
    // margin-bottom: 5px;
    // border: 1px solid #ddd2d2;
    border: 2px solid $light-gray;
    box-shadow: none;
    border-radius: 0px;
  }
  label {
    display: none;
  }
  input:focus {
    border: 2px solid #2580c6;
    outline: none;
    box-shadow: none;
  }
  .textarea textarea {
    height: 155px;
    width: 90%;
    margin: auto;
    letter-spacing: 1.1px;
    margin-bottom: 8px;
    padding: 20px;
    font-size: 12px;
    border: 2px solid $light-gray;
    box-shadow: none;
    border-radius: 0px;
  }
  textarea:focus {
    border: 2px solid #2580c6;
    outline: none;
    box-shadow: none;
  }
  .btn-form {
    // border-top: 2px solid #ddd2d2;
    border: 2px solid $light-gray;
    width: 90%;
    margin: auto;
    padding: 8px;
    font-size: 12px;
    // height: 40px;
    // margin-bottom: 0px;
    // position: absolute;
    // bottom: 0px;
    // left: 0px;
    // right: 0px;
    .btn-details {
      border: none;
      width: 100%;
      height: 100%;
      button:focus {outline:0;}
    }
  }
  .form-group {
    margin-right: unset;
    margin-left: unset;
    margin-bottom: 8px;
  }
  .form-control {
    padding: 20px;
    font-size: 12px;
  }
}

.btn-form:hover {
  background-color: #e6e6e6;
}

*::-webkit-input-placeholder {
    color: #a5a5a5;
}

.menu-contact {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
   -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
  img {
    width: 400px;
  }
  p {
    color: white;
  }
}


@media screen and (max-width: 420px) {
.menu-contact {
  width: 300px;
  }
}

.background-menu-contact {
  position: absolute;
  top: 50px;
  left: 30px;
  a {
    border: 1px solid #162241;
    padding: 20px;
    color: #162241;
    background-color: white;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    font-size: 20px;
    text-decoration: none;
  }
}

#name_error {
  visibility: hidden;
  margin: 0px;
  position: absolute;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

