.login {
  width: 80%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: bolder;
    position: relative;
    letter-spacing: 2px;
  }
  h2:after{
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    bottom: -10px;
    left: 45%;
    border-bottom: 5px solid #18243e;
  }
}
.form-inputs {
  input {
    background-color: white;
  }
}

