.card-partenaire {
  height: 500px;
  background-color: #162139;
  position: relative;
  margin-bottom: 30px;
}

@media screen and (max-width: 547px) {
  .card-partenaire {
  height: 540px;
  }
}

@media screen and (max-width: 435px) {
  .card-partenaire {
  height: 580px;
  }
}

.top-partenaire {
  height: 150px;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 30%;
  }
}

.content-partenaire {
  position: absolute;
  top: 180px;
  color: white;
  left: 20px;
  right: 20px;
}

.btn-partenaire {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left:0px;
  border-top: 1px solid white;
  height: 40px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
