.image-presentation {
  height: 90vh;
  background-size: cover !important;
}

@media screen and (max-width: 992px) {
  .image-presentation {
  display: none;
  }
}

.presentation-description {
  display: flex;
  align-items: center;
}

.content-description {
  width: 80%;
  margin: auto;
  h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bolder;
    letter-spacing: 2px;
  }
  h5 {
    text-align: justify;
    line-height: 20px;
  }
  p {
    text-align: justify;
    font-weight: lighter;
  }
}
