.background-presentation {
  background-image: image-url("presentation-img.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .background-presentation {
  background-image: image-url("responsive-presentation.png");
  }
}

@media screen and (max-width: 993px) {
  .background-presentation {
  background-image: none;
  }
}

.presentation-description {
  display: flex;
  align-items: center;
}

.content-description {
  width: 80%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: bolder;
    position: relative;
    letter-spacing: 2px;
  }
  h2:after{
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    bottom: -10px;
    left: 45%;
    border-bottom: 5px solid #18243e;
}
  h5 {
    text-align: justify;
    line-height: 25px;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
  }
  p {
    text-align: justify;
    font-weight: 300 !important;
    font-size: 14px;
  }
}


