.background-presentation {
  background-image: image-url("presentation-img.png");
  background-size: cover !important;
}

@media screen and (max-width: 992px) {
  .background-presentation {
  background-image: none;
  }
}

.presentation-description {
  display: flex;
  align-items: center;
}

.content-description {
  width: 80%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: bolder;
    letter-spacing: 2px;
  }
  h5 {
    text-align: justify;
    line-height: 25px;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
  }
  p {
    text-align: justify;
    font-weight: 300 !important;
    font-size: 14px;
  }
}


