.member h4 {
  position: relative;
  margin-bottom: 1.2rem;

  &::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 1px;
    bottom: -10px;
    border-bottom: 3px solid $sianogreen;
  }
}

.member {
  .left {
    h4 {
      text-align: right;
    }

    h4::after {
      right: 0;
    }
  }

  .right {
    h4 {
      text-align: left;
    }

    h4::after {
      left: 0;
    }
  }
}
