.team-description {
  width: 70%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;

  h4 {
    margin-bottom: 30px;
    position: relative;
    font-size: 34px;
  }

  // h4:after {
  //   content: '';
  //   position: absolute;
  //   width: 20%;
  //   border-bottom: 3px solid $sianogreen;
  //   bottom: -10px;
  // }

  p {
    text-align: justify;
    font-weight: 300 !important;
    font-size: 14px;
  }

  a {
    color: #18243e;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
  }
}

.description-carla {
  width: 40%;
  margin: 0 auto;
}

.description-anais {
  width: 40%;
  margin: 0 auto;
}

.background-team-clem {
  background-image: image-url('clem.png');
  // background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  // height: calc(100vh - 74px);
  display: flex;
  align-items: center;
}

.background-team-mat {
  background-image: image-url('mat.png');
  // background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  // height: calc(100vh - 74px);
  display: flex;
  align-items: center;
}

.background-team-anais {
  background-image: image-url('ana.png');
  // background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  // min-height: calc(100vh - 74px);
  display: flex;
  align-items: center;
}

.background-team-cam {
  background-image: image-url('cam.png');
  // background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  // height: calc(100vh - 74px);
  display: flex;
  align-items: center;
}

.background-team-carla-anais {
  background-image: image-url('carla-anais.png');
  // background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // min-height: calc(100vh - 74px);
  display: flex;
  align-items: center;
}

.team-description-carla-mobile h4 {
  margin-left: 30%;
  text-align: right;

  &:after {
    left: unset;
    right: 0%;
  }
}

.descriptions-stagiaires .team-description p {
  padding-right: 0;
}

.popover a {
  color: #18243e;
}

.avatar {
  margin-bottom: 64px;
  img {
    width: 100%;
    // border-radius: 50%;
    // text-align: center;
    // border: 2px solid #18243e;
    // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  }
}

.avatar.anais,
.avatar.carla {
  margin-bottom: 0px;
}

.avatar-clem {
  img {
    width: 100px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #18243e;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  }
}

@media screen and (max-width: 1367px) {
  .background-presentation {
    height: auto;
    min-height: 60vh;
  }
  .background-team-clem {
    height: auto;
  }
  .background-team-mat {
    height: auto;
  }
  .background-team-cam {
    height: auto;
    min-height: 60vh;
  }
  .background-team-anais {
    height: auto;
    min-height: 60vh;
  }
  .descriptions-stagiaires {
    padding: unset;
  }
}

@media screen and (max-width: 1200px) {
  .descriptions-stagiaires {
    padding: 0 40px;
  }
}

// TABLET
@media screen and (max-width: 1024px) {
  .team-description {
    width: 75%;
  }
  .descriptions-stagiaires .team-description {
    width: 40%;
  }
  .background-team-clem {
    background-image: image-url('clem-tablet.png');
    background-position: right;
  }
  .background-team-mat {
    background-image: image-url('mat-tablet.png');
    background-position: left;
  }
  .background-team-cam {
    background-image: image-url('cam-tablet.png');
    background-position: right;
  }
  .background-team-anais {
    background-image: image-url('ana-tablet.png');
    background-position: right;
    background-size: unset;
  }
  .descriptions-stagiaires {
    padding: 0 25px;
  }
}

@media screen and (max-width: 992px) {
  .team-description {
    width: 82%;
  }
  .descriptions-stagiaires .team-description {
    width: 82%;
  }
  .background-team-clem,
  .background-team-mat,
  .background-team-cam,
  .background-team-anais {
    background-position: center;
  }
  .team-description-mobile p {
    padding-right: unset;
  }
  .background-team-carla-anais {
    background-image: none;
  }
  .descriptions-stagiaires {
    padding: unset;
  }
}

// MOBILE
@media screen and (max-width: 812px) {
  .team-description.description-anais {
    width: 100%;
    padding-top: 0;
  }
  .team-description-anais-mobile {
    width: 80%;
    margin: 0 auto;
  }
  .team-description.description-carla {
    width: 100%;
    padding-top: 0;
  }
  .team-description-carla-mobile {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 737px) {
  .team-description {
    width: 85%;
  }
  .team-description-mobile {
    width: 65%;
    margin: auto;
  }
  .background-team-clem {
    background-image: image-url('clem-mobile.jpg');
    height: auto;
  }
  .background-team-mat {
    background-image: image-url('mat-mobile.png');
    height: auto;
  }
  .background-team-cam {
    background-image: none;
    height: auto;
  }
  .background-team-clem,
  .background-team-mat,
  .background-team-cam,
  .background-team-anais {
    background-image: none;
  }
}

@media screen and (max-width: 737px) {
  .team-description {
    width: 100%;
    p {
      padding-right: 0px;
    }
  }
  .background-team-carla-anais {
    background-image: none;
  }
  .team-description-carla-mobile,
  .team-description-anais-mobile {
    width: 80%;
    margin: 0 auto;
  }
  // .avatar-stagiaire {
  //   display: none;
  // }
}

@media screen and (min-width: 992px) {
  .avatar-stagiaire {
    display: none;
  }
}

@media screen and (min-width: 737px) {
  .avatar-avocat {
    display: none;
  }
}

@media screen and (max-height: 600px) {
  .team-description {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-height: 600px) {
  .background-team-clem,
  .background-team-mat {
    height: auto;
  }
  .description-carla,
  .description-anais {
    width: 100%;
    margin: 0 auto;
  }
  .team-description-anais-mobile,
  .team-description-carla-mobile {
    padding-left: 10px;
    padding-right: 10px;
  }
  .team-description-carla-mobile h4:after {
    width: 20%;
  }
}

.collab {
  padding-bottom: 50px;
  padding-top: 50px;
  width: 70%;
  margin: top;
  h4 {
    margin-bottom: 40px;
    position: relative;
    letter-spacing: 2px;
  }
  h4:after {
    content: '';
    position: absolute;
    width: 4%;
    height: 1px;
    bottom: -10px;
    left: 48%;
    border-bottom: 5px solid #18243e;
  }
}

@media screen and (max-width: 410px) {
  .collab h4 {
    font-size: 20px;
    text-align: center;
  }
}

#demo p {
  text-align: justify;
  font-weight: 300 !important;
  font-size: 14px;
  padding-right: 20px;
}

.popover-content {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.2px;
}

.avatar-clemence {
  img {
    width: 200px;
    margin: auto;
  }
}

@media screen and (max-width: 993px) {
  .avatar-clemence img {
    border-radius: 50%;
    width: 100px;
    margin-top: 30px;
    border: 2px solid #18243e;
  }
}
