.team-description {
  width: 75%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  h4 {
    margin-bottom: 30px;
    position: relative;
  }
  h4:after{
    content: "";
    position: absolute;
    width: 10%;
    left: 0%;
    border-bottom: 4px solid #18243e;
    bottom: -5px;
  }
  p {
    text-align: justify;
    font-weight: 300 !important;
    font-size: 14px;
  }
}

.background-team-clem {
  background-image: image-url("clem.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .background-team-clem {
  background-image: image-url("responsive-clem.png");
  }
}

@media screen and (max-width: 993px) {
  .background-team-clem {
  background-image: none;
  }
}

.background-team-mat {
  background-image: image-url("mat.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .background-team-mat {
  background-image: image-url("responsive-mat.png");
  }
}

@media screen and (max-width: 993px) {
  .background-team-mat {
  background-image: none;
  }
}
