<div class="wrapper" style="margin-top: 150px;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="title-article">
          <h2><%= @article.title  %></h2>
        </div>
      </div>
      <div class="col-md-8">
        <div class="title-content">
         <p><%= @article.content %></p>
        </div>
      </div>
    </div>
  </div>
</div>



