<div class="banner" style="background-image: url('<%= image_path('actualites.png') %>');">
  <div class="container">
    <div class="row">
    <% @articles.each do |article|  %>
      <div class="col-md-3 col-xs-12">
            <div class="card">
            <p style="color: black;"><%= article.date %></p>
            <p style="color: black;"><%= article.title %></p>
            <p style="color: black;"><%= article.content %></p>
            </div>
      </div>
              <% end %>
    </div>
  </div>
</div>

