<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,30,53,0.8) 0%, rgba(0,30,53,0.8) 0%), url('<%= image_path('banner.jpg') %>');">
  <div class="banner-content">
    <h1>CHAVANNE AND WITT AVOCATS</h1>
  </div>
  <i class="fa fa-angle-down pulse" aria-hidden="true"></i>
</div>
