<div class="banner" style="background-image: url('<%= image_path('banner.png') %>');">
  <div class="banner-content">
    <%= image_tag("logo-white.png")  %>
  </div>
  <i class="fa fa-angle-down pulse" aria-hidden="true"></i>
</div>
