<header class="banner" style="background-image: url('<%= cl_image_path("banner_oph6xq.png") %>');">
  <div class="translation-banner" rel="nofollow">
    <a href="/en" class="navbar-wagon-brand">En</a>
    <a href="/es" class="navbar-wagon-brand">Es</a>
  </div>

  <div class="banner-content">
    <%= cl_image_tag("logo-white_dsazw2.png", id: "file-input") %>
    <p style="font-size: 12px;">AARPI</p>
  </div>
  
  <div class="chevron">
    <a href="#presentation" id="btn"><i class="fas fa-chevron-down"></i></a>
  </div>
</header>
