<div class="banner" style="background-image: url('<%= cl_image_path("banner_oph6xq.png") %>');">
  <div class="banner-content">
    <%= cl_image_tag("logo-white_dsazw2.png") %>
    <p style="font-size: 12px;">AARPI</p>
  </div>
</div>
