<section class="wrapper p-12" id="contact" style="background-image: url('<%= cl_image_path("img-contact_npehc9.png") %>');">
  <div class="container grid grid-cols-3 bg-sianogray-100">
    <%= image_tag "groupe.jpg", class: "hidden xl:block crop-right object-cover md:max-h-70-screen col-span-1", width: '100%' %>
    <%= render "pages/contact_form" %>
  </div>
</section>