<div class="wrapper contact" style="background-image: url('<%= image_path('img-contact.png') %>');">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card-contact">
          <h2>CONTACT</h2>

        </div>
      </div>
      <div class="col-md-6">
        <div class="card-contact">
          <h5 class="text-center" style=" padding-top: 40px;"><span style="font-style: italic; font-weight: 700;">CW Avocats</span> <br>12 avenue de Montparnasse<br>75014 Paris</h5>
          <h5 class="text-center">Tel : 01 01 01 01 01 <br> Fax : 01 01 01 01 01 <br> Email : contact@cw-avocats.com</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10503.60541262733!2d2.3203779!3d48.8410203!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb9036133d0fa1594!2sGare+Montparnasse!5e0!3m2!1sfr!2sfr!4v1504601421779" width="" height="" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
