<div class="wrapper" style="background: #162139; height: 150px; display: flex; align-items: center; justify-content: space-around;">
  <h5 style="color: white; font-weight: lighter;">Mentions légales</h5>
</div>
