<div class="wrapper" style="background: #162139; height: 150px; display: flex; align-items: center; justify-content: space-around;">
  <a href="/mentions" target="_blank" style="text-decoration: none;"><h5 style="color: white;"><%= I18n.t('.mentions') %></h5></a>
</div>
