<div class="wrapper partenaires" id="partenaires">
  <h2 class="text-center">PARTENAIRES</h2>
  <p class="text-center" style="margin-bottom: 25px;">La troisième manche aura été un peu plus duré avec en introduction,</p>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card-partenaire">
          <div class="top-partenaire" style="background-image: url('<%= cl_image_path("banner_upaemd.png") %>');">
          <%= image_tag("logo-white.png")  %>
          </div>
          <div class="content-partenaire">
            <h3>Le Cabinet HBS</h3>
            <p>La troisième manche aura été un peu plus duré avec en introduction, le seul petit moment de doute pour les fans du Suisse, qui a demandé un temps mort médical pour se faire soigner dehors du terrain. «En fait, j'ai eu besoin de me faire masser le bas du dos...</p>
            <h4 class="text-center" style="margin-top: 30px">Calle De Núñez De Balboa <br> 28070 Madrid</h4>
          </div>
          <div class="btn-partenaire">
            www.lalala.com
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-partenaire">
          <div class="top-partenaire" style="background-image: url('<%= cl_image_path("banner_upaemd.png") %>');">
          <%= image_tag("logo-white.png")  %>
          </div>
          <div class="content-partenaire">
            <h3>Le Cabinet HBS</h3>
            <p>La troisième manche aura été un peu plus duré avec en introduction, le seul petit moment de doute pour les fans du Suisse, qui a demandé un temps mort médical pour se faire soigner dehors du terrain. «En fait, j'ai eu besoin de me faire masser le bas du dos...</p>
            <h4 class="text-center" style="margin-top: 30px">93, Faubourg Saint-Honoré <br> 75001 Paris</h4>
          </div>
          <div class="btn-partenaire">
            www.lalala.com
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
