<div class="wrapper">
  <div class="row">
    <div class="col-lg-5" style="background-image: url('<%= image_path('presentation.png') %>');">
    </div>
    <div class="col-lg-7">

    </div>
  </div>
</div>
