<section class="wrapper relative" id="presentation">
  <%= image_tag "siano-icon-white.png", class: "absolute -top-10 -left-10", width: 200 %>

  <div class="grid grid-cols-12">
    <div class="px-12 md:px-24 lg:px-32 py-24 col-span-12 md:col-span-12 lg:col-span-8">
      <h2 class="niramit-semibold text-3xl heading-border left mb-8"><%= locale_content_for('home.titles.firm') %></h1>

      <p class="montserrat-light lg:text-xs xl:text-sm">
        <%= locale_content_for('descriptions.firm') %>
      </p>
    </div>

    <%= image_tag "presentation.jpg", class: "hidden lg:block crop-left h-full object-cover md:col-span-2 lg:col-span-4" %>
  </div>
</section>
