
<div class="wrapper background-presentation" id="presentation">
  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-7">
      <div class="content-description">
        <h2 class="text-center">LE CABINET</h2>
        <p>Après s'être rencontrés au Chili et avoir été ensemble Secrétaires de la Conférence en 2015, <strong>Clémence Witt</strong> et <strong>Matthieu Chavanne</strong> ont créé le cabinet Chavanne & Witt Avocats en septembre 2017. <br> <br>
        Titulaires d'une double formation (Science Po Paris / ESSEC), ils ont été formés par les meilleurs avocats pénalistes parisiens et travaillent indifféremment en espagnol, anglais et français. <br> <br>
        Le cabinet Chavanne & Witt Avocats assiste ses clients, particuliers ou personnes morales, <strong>dans tous les domaines du droit pénal</strong> (droit pénal général, droit pénal des affaires et droit pénal international) et à tous les stades de la procédure (enquête, instruction, jugement).
        </p>
      </div>
    </div>
  </div>
</div>
