
<div class="wrapper background-presentation" id="presentation">
  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-7">
      <div class="content-description">
        <h2 class="text-center">PRÉSENTATION DU CABINET</h2>
        <h5>Après s'être rencontrés sur le banc des uAniversités chiliennes et avoir été ensemble Secrétaires de la Conférence en 2015, Clémence Witt et Matthieu Chavanne ont décidé de créer <strong>le cabinet Chavanne & Witt Avocats en septembre 2017.</strong></h5>
        <p>Clémence Witt et Matthieu Chavanne sont chacun titulaires d'une double formation (Science Po Paris / ESSEC) et ont été formés aux côtés des meilleurs avocats pénalistes parisiens. Ils travaillent indifféremment en espagnol, anglais et français. <br> <br>
        Le cabinet Chavanne & Witt Avocats assiste ses clients dans tous les domaines du droit pénal général et droit pénal des affaires : il dispose également d'une expérience remarquée en droit pénal international. <br> <br>
        Le cabinet Chavanne & Witt Avocats conseille et défend des particuliers, de nationalité française et des sociétés françaises ou étrangères devant les juridictions répressives françaises, au stade de l'instruction ou du jugement, et les cours pénales internationales. Il intervient également en matière de contentieux commercial.
        </p>
      </div>
    </div>
  </div>
</div>
