<section class="wrapper" id="presentation">
  <div class="grid grid-cols-12">
    <div class="px-12 md:px-24 lg:px-32 py-12 col-span-12 md:col-span-10 lg:col-span-8">
      <h2 class="niramit-semibold text-3xl heading-border left mb-8"><%= locale_content_for('home.titles.firm') %></h1>

      <p class="montserrat-light">
        <%= locale_content_for('descriptions.firm') %>
      </p>
    </div>

    <%= image_tag "presentation.jpg", class: "hidden md:block crop-left h-full object-cover md:col-span-2 lg:col-span-4" %>
  </div>
</section>
