<section class="wrapper background-presentation" id="presentation">
  <div class="row">
    <div class="col-sm-7 col-lg-8 presentation-description">
      <div class="content-description">
        <h1 class="niramit-semibold"><%= locale_content_for('home.titles.firm') %></h1>

        <p class="montserrat-light">
          <%= locale_content_for('descriptions.firm') %>
        </p>
      </div>
    </div>
  </div>
</section>
