<div class="wrapper background-team-clem">
  <div class="row">
    <div class="col-md-7">
      <div class="team-description">
        <h4>Clémence Witt</h4>
        <p>Diplômée de Sciences Po Paris, Master Carrières Judiciaires et Juridiques, d'un Master II Droits de l'homme et droit humaintaire (Université Panthéon-Assas) et d'un certificat de sciences criminologiques (Institut de criminologie de Paris), Clémence Witt a vécu au Chili, aux États-Unis et au Cambodge, où elle passe un an dans l'équipe de défense de Khieu Samphan dirigée par Jacques Vergès, devant les chambres extraordinaires au sein des tribunaux cambodgiens (CETC). <br> <br>
        En France, elle travaille pour Pierre-Olivier Sur dès 2009, avant de devenir collaboratrice du cabinent FTMS en 2012, où elle intègre le Pôle pénal et santé publique. Elle exerce exclusivement en droit pénal (droit pénal général et droit pénal des affaires) et se spécialise dans les affaires internationales (affaire Arofat, défense de Baghdadi Mahmoudi en Lybie, affaire Versini au Mexique, dossier de Pascal Mazurier en Inde, affaire des "Disparus du Novotel" en Côte d'Ivoire..) En 2014, elle devient conseiller du Bâtonnier Pierre-Olivier Sur pour les affaires pénale internationales. En 2015, elle est élue Secrétaire de la Conférence et traite de nombreux dossiers délictuels, criminels (cour d'assises), ainsi qu'en matière terroriste.
        </p>
        <p style="text-align: center; color: #2580c6; margin-top: 20px;">Droit pénal général - droit pénal de affaires- Droit pénal international <br> Langues de travail : français, anglais, espagnol</p>
      </div>
    </div>
    <div class="col-md-5">
    </div>
  </div>
</div>

<div class="wrapper background-team-mat" style="background-image: url('<%= image_path('mat.png') %>');">
  <div class="row">
    <div class="col-md-5 image-presentation">
    </div>
    <div class="col-md-7 presentation-description">
      <div class="team-description">
        <h4>Matthieu Chavanne</h4>
        <p>Diplômée de Sciences Po Paris, Master Carrières Judiciaires et Juridiques, d'un Master II Droits de l'homme et droit humaintaire (Université Panthéon-Assas) et d'un certificat de sciences criminologiques (Institut de criminologie de Paris), Clémence Witt a vécu au Chili, aux États-Unis et au Cambodge, où elle passe un an dans l'équipe de défense de Khieu Samphan dirigée par Jacques Vergès, devant les chambres extraordinaires au sein des tribunaux cambodgiens (CETC). <br> <br>
        En France, elle travaille pour Pierre-Olivier Sur dès 2009, avant de devenir collaboratrice du cabinent FTMS en 2012, où elle intègre le Pôle pénal et santé publique. Elle exerce exclusivement en droit pénal (droit pénal général et droit pénal des affaires) et se spécialise dans les affaires internationales (affaire Arofat, défense de Baghdadi Mahmoudi en Lybie, affaire Versini au Mexique, dossier de Pascal Mazurier en Inde, affaire des "Disparus du Novotel" en Côte d'Ivoire..) En 2014, elle devient conseiller du Bâtonnier Pierre-Olivier Sur pour les affaires pénale internationales. En 2015, elle est élue Secrétaire de la Conférence et traite de nombreux dossiers délictuels, criminels (cour d'assises), ainsi qu'en matière terroriste.
        </p>
        <p style="text-align: center; color: #2580c6; margin-top: 20px;">Droit pénal général - droit pénal de affaires- Droit pénal international <br> Langues de travail : français, anglais, espagnol</p>
      </div>
    </div>
  </div>
</div>




