<section>
  <% I18n.t("team").each.with_index do |(key, value), index| %>
    <figure class="wrapper background-team-<%= value[:class] %>" id="avocats">
      <div class="grid grid-cols-12">
        <% raise %>
        <%= image_tag "#{value[:class]}-mobile.png" %>
        <%= render "member", key: key, value: value %>
      </div>
    </figure>
  <% end %>
</section> 
