<div class="wrapper background-team-clem" id="avocats">
  <div class="row">
    <div class="col-md-7">
      <div class="team-description">
      <div class="avatar">
        <%= image_tag "avatar-clem.png" %>
      </div>
        <h4>Clémence Witt</h4>
        <p>Diplômée de Sciences Po Paris, Master Carrières Judiciaires et Juridiques (promotion 2008), d'un Master II Droits de l'homme et droit humanitaire (Université Panthéon-Assas, 2010) et d'un certificat de sciences criminologiques (Institut de criminologie de Paris), Clémence Witt a vécu au Chili, aux États-Unis et au Cambodge, où elle a passé un an dans l'équipe de défense de Khieu Samphan dirigée par Jacques Vergès, devant les Chambres extraordinaires au sein des tribunaux cambodgiens (CETC). Clémence Witt est avocate au Barreau de Paris depuis 2012. <br> <br>
        En France, Clémence Witt a travaillé pour Pierre-Olivier Sur dès 2009 où elle est intervenue exclusivement en droit pénal et s’est spécialisée dans les affaires internationales (notamment affaire Arafat, défense de Baghdadi Mahmoudi en Lybie, affaire Versini au Mexique, dossier de Pascal Mazurier en Inde, affaire des "Disparus du Novotel" en Côte d'Ivoire). En 2015, Clémence Witt est élue Secrétaire de la Conférence : elle intervenue à ce titre dans près d'une cinquantaine de dossiers criminels et a plaidé à plusieurs reprises devant la cour d'assises. <br>
        En 2014, Clémence Witt a également été conseiller du Bâtonnier Pierre-Olivier Sur, à l’Ordre des avocats de Paris, pour les affaires pénales internationales.
        </p>
        <p style="text-align: center; color: #2580c6; margin-top: 20px;">Droit pénal général - droit pénal de affaires- Droit pénal international <br> Langues de travail : français, anglais, espagnol <br></p>
        <div class="text-center">
          <a href="" style="margin: 5px; color: #162139;"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/anne-clemence-witt-avocate-1541b5117/?ppe=1" cursor="pointer" target="_blank" style="margin: 5px; color: #162139"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-5" id="avocats">
    </div>
  </div>
</div>

<div class="wrapper background-team-mat">
  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-7 presentation-description">
      <div class="team-description">
      <div class="avatar">
        <%= image_tag "avatar-mat.png" %>
      </div>
        <h4>Matthieu Chavanne </h4>
        <p>Diplômé de l'ESSEC, cursus droit (promotion 2008) et d’un Master II Contentieux, Arbitrage et Modes alternatifs de règlement des conflits (Université Panthéon-Assas, 2009), Matthieu Chavanne est avocat au Barreau de Paris depuis 2011.<br><br>
        Après avoir travaillé au sein du cabinet Gide Loyrette Nouel, à Paris et Istanbul, Matthieu Chavanne a rejoint l'équipe de droit pénal / droit pénal des affaires du Cabinet BG2V, dirigée par Karim Beylouni. En 2015, Matthieu Chavanne est élu Secrétaire de la Conférence : il est intervenu à ce titre dans près d'une cinquantaine de dossiers criminels et a plaidé à plusieurs reprises devant la cour d'assises. <br> <br>
        Matthieu Chavanne a également été chargé de travaux dirigés en droit pénal des affaires à l'Université Paris Descartes. Il enseigne au sein du cours de droit des affaires de l'ESSEC depuis deux ans.
        </p>
        <p style="text-align: center; color: #2580c6; margin-top: 20px;">Droit pénal général - droit pénal de affaires - Contentieux civil et commercial <br> Langues de travail : français, anglais, espagnol</p>
        <div class="text-center">
          <a href="mailto:chavanne.avocat@gmail.com" style="margin: 5px; color: #162139"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/matthieu-chavanne-b5693534/?ppe=1" cursor="pointer" target="_blank" style="margin: 5px; color: #162139"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper background-team-clemence" id="avocats">
  <div class="row">
    <div class="col-md-7">
      <div class="team-description">
      <div class="avatar">
        <%= image_tag "avatar-clemence.png" %>
      </div>
        <h4>Camille Tardé</h4>
        <p>Elève-avocate depuis janvier 2017, Camille Tardé est diplômée de Sciences Po Paris, Master Droit économique (promotion 2016). Après plusieurs stages en administration (Services du Premier ministre, STIF), elle a choisi de se spécialiser en droit pénal et a travaillé pour le cabinet Henri Leclerc & Associés pendant près d’un an. Elle a également effectué un stage au sein des chambres correctionnelles 8-1 et 8-2 de la Cour d’appel de Paris.
        </p>
        <p style="text-align: center; color: #2580c6; margin-top: 20px;">Droit pénal général - droit pénal de affaires- Droit économique <br> Langues de travail : français, anglais, espagnol <br></p>
        <div class="text-center">
          <a href="" style="margin: 5px; color: #162139;"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/anne-clemence-witt-avocate-1541b5117/?ppe=1" cursor="pointer" target="_blank" style="margin: 5px; color: #162139"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-5" id="avocats">
    </div>
  </div>
</div>




