<div class="wrapper background-team-clem">
  <div class="row">
    <div class="col-md-7">
      <div class="team-description">
      <div class="avatar">
        <%= image_tag "avatar-clem.png" %>
      </div>
        <h4>Clémence Witt</h4>
        <p>Diplômée de Sciences Po Paris, Master Carrières Judiciaires et Juridiques, d'un Master II Droits de l'homme et droit humaintaire (Université Panthéon-Assas) et d'un certificat de sciences criminologiques (Institut de criminologie de Paris), Clémence Witt a vécu au Chili, aux États-Unis et au Cambodge, où elle passe un an dans l'équipe de défense de Khieu Samphan dirigée par Jacques Vergès, devant les chambres extraordinaires au sein des tribunaux cambodgiens (CETC). <br><br>
        En France, elle travaille pour Pierre-Olivier Sur dès 2009, avant de devenir collaboratrice du cabinent FTMS en 2012, où elle intègre le Pôle pénal et santé publique. Elle exerce exclusivement en droit pénal (droit pénal général et droit pénal des affaires) et se spécialise dans les affaires internationales (affaire Arofat, défense de Baghdadi Mahmoudi en Lybie, affaire Versini au Mexique, dossier de Pascal Mazurier en Inde, affaire des "Disparus du Novotel" en Côte d'Ivoire..) En 2014, elle devient conseiller du Bâtonnier Pierre-Olivier Sur pour les affaires pénale internationales. En 2015, elle est élue Secrétaire de la Conférence et traite de nombreux dossiers délictuels, criminels (cour d'assises), ainsi qu'en matière terroriste.
        </p>
        <p style="text-align: center; color: #2580c6; margin-top: 20px;">Droit pénal général - droit pénal de affaires- Droit pénal international <br> Langues de travail : français, anglais, espagnol <br></p>
        <div class="text-center">
          <a href="" style="margin: 5px; color: #162139;"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/anne-clemence-witt-avocate-1541b5117/?ppe=1" cursor="pointer" target="_blank" style="margin: 5px; color: #162139"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-5" id="avocats">
    </div>
  </div>
</div>

<div class="wrapper background-team-mat">
  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-7 presentation-description">
      <div class="team-description">
      <div class="avatar">
        <%= image_tag "avatar-mat.png" %>
      </div>
        <h4>Matthieu Chavanne </h4>
        <p>Diplômé de l'ESSEC (promotion 2008) et d'un parcours univeristaire de droit classique, terminé par l'obtention du Master II Contentieux, Arbitrage et Modes alternatifs de règlement des conflits (Université Panthéon-Assas, 2009), Matthieu est avocat au Barreau de Paris depuis 2011.<br><br>
        Après avoir travaillé au sein du cabinet Gide Loyrette Nouel, à Paris et Istanbul, Matthieu a rejoint l'équipe de droit pénal / droit pénal des affaires du Cabinet BG2V, où il a développé, pendant près de 6 ans, une pratique professionnelle exigeante, audacieuse et couronnée de succès. En 2015, Matthieu a été élu Secrétaire de la Conférence : il est intervenu à ce titre dans près d'une cinquantaine de dossiers criminels et a plaidé à plusieurs reprises devant les cours d'assises. <br> <br>
        Enfin, Matthieu a été chargé de travaux dirigés en droit pénal des affaires à l'Université Paris Descartes et intervient dans le cours de droit des affaires de l'ESSEC depuis deux ans.
        </p>
        <p style="text-align: center; color: #2580c6; margin-top: 20px;">Droit pénal général - droit pénal de affaires - Contentieux civil et commercial <br> Langues de travail : français, anglais, espagnol</p>
        <div class="text-center">
          <a href="mailto:chavanne.avocat@gmail.com" style="margin: 5px; color: #162139"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/matthieu-chavanne-b5693534/?ppe=1" cursor="pointer" target="_blank" style="margin: 5px; color: #162139"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>




