<div class="wrapper" style="padding: 20px; min-height: 100%; background-repeat: no-repeat; background-size: cover !important; background-image: url('<%= cl_image_path("actualites_pcaclw.png") %>');">
  <div class="container" style="background: white; padding: 20px;">
    <h3>INFORMATIONS LÉGALES || CHAVANNE & WITT AVOCATS</h3>
    <p>Le www.cw-avocats.com est édité par l’association d’avocats à responsabilité professionnelle individuelle Chavanne & Witt Avocats dont le siège social est situé:<br><br>
    132 boulevard du Montparnasse<br>
    75014 Paris <br><br>
    Téléphone +33 1 42 18 18 19 <br>
    Adresse de courrier électronique : contact@cw-avocats.com <br>
    N° de TVA intracommunautaire TVA N° FR ---------- <br>
    Le Directeur de la publication est Matthieu Chavanne. <br><br>

    <strong>Hébergement</strong> <br><br>
    OVH <br>
    2 rue Kellermann <br>
    59100 Roubaix <br>
    France <br><br>
    <strong>Propriété intellectuelle</strong> <br><br>
    L'internaute s'engage à respecter le droit de propriété intellectuelle du Site ainsi que son contenu, quelle qu'en soit la nature. <br>
    En particulier, l'internaute s'interdit toute reproduction ou toute représentation du Site, par quelque moyen et sous quelque forme que ce soit, sans l'autorisation expresse et préalable de Chavanne & Witt Avocats, AARPI. <br>
    Les bases de données figurant sur le site sont protégées par les articles L.341-1 et suivants du Code de la propriété intellectuelle et est sanctionnée toute extraction ou réutilisation qualitativement ou quantitativement substantielle du contenu des bases de données. <br><br>
    <strong>Liens</strong> <br><br>
    Les liens proposés vers des sites tiers ne sauraient engager la responsabilité Chavanne & Witt Avocats AARPI quant à leurs conditions d’accès et à leur contenu. <br>

    </p>
  </div>
</div>








