<section class="wrapper bg-gradient p-24">
  <div class="container" style="background: white; padding: 20px;">
    <h3 class="text-3xl mb-3 niramit-semibold">INFORMATIONS LÉGALES || SIANO AVOCATS</h3>
    <p class="montserrat-light">
      Le www.sianoavocats.com est édité par l’association d’avocats à responsabilité professionnelle individuelle Siano Avocats, cabinet d’avocats inscrit auprès de l’Ordre des avocats du Barreau de Paris et dont le siège social est situé:<br><br>
      49 rue Saint-Roch<br>
      75001 Paris <br><br>
      Téléphone +33 1 42 18 18 19 <br>
      Adresse de courrier électronique : contact@sianoavocats.com <br>
      N° de TVA intracommunautaire TVA N° FR 04 832 717 417 <br>
      N° de SIRET : 832 717 417 00014 <br>
      Le Directeur de la publication est Simon Clemenceau. <br><br>

      <strong class="montserrat-bold">Hébergement</strong> <br><br>
      OVH <br>
      2 rue Kellermann <br>
      59100 Roubaix <br>
      France <br><br>
      <strong class="montserrat-bold">Propriété intellectuelle</strong> <br><br>
      L'internaute s'engage à respecter le droit de propriété intellectuelle du Site ainsi que son contenu, quelle qu'en soit la nature.En particulier, l'internaute s'interdit toute reproduction ou toute représentation du Site, par quelque moyen et sous quelque forme que ce soit, sans l'autorisation expresse et préalable de Siano Avocats AARPI.Les bases de données figurant sur le site sont protégées par les articles L.341-1 et suivants du Code de la propriété intellectuelle et est sanctionnée toute extraction ou réutilisation qualitativement ou quantitativement substantielle du contenu des bases de données. <br><br>
      <strong class="montserrat-bold">Liens</strong> <br><br>
      Les liens proposés vers des sites tiers ne sauraient engager la responsabilité de Siano Avocats AARPI quant à leurs conditions d’accès et à leur contenu. <br>
      Conformément aux dispositions des articles L. 612-1 et suivants du Code de la consommation, vous avez la possibilité, en cas de litige avec un avocat, de recourir gratuitement au Médiateur de la consommation qui sera le médiateur national près du Conseil National des Barreaux (CNB) et dont les coordonnées sont les suivantes : Médiateur de la consommation de la profession d’avocat, 180 boulevard Haussmann, 75008 Paris. <br><br>
      <strong class="montserrat-bold">Remerciements :</strong> <br><br>
      Romain Sanson, Alizée Vallade et Emmanuelle Witt <br><br>
      <strong class="montserrat-bold">Photos :</strong> <br><br> Guillaume Niclet, Vitor-Monteiro, Martin Colombet
    </p>
  </div>
</section>








