<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title> </title>
    <style>
      body {
        line-height: 108%;
        font-family: Calibri;
        font-size: 11pt;
      }
      p {
        margin: 0pt 0pt 8pt;
      }
      table {
        margin-top: 0pt;
        margin-bottom: 8pt;
      }
      span.Hyperlink {
        text-decoration: underline;
        color: #0563c1;
      }
      span.UnresolvedMention {
        color: #605e5c;
        background-color: #e1dfdd;
      }
    </style>
  </head>
  <body>
    <div>
      <%#= render "shared/signatures/clemence", spacing: false %>
      <%#= render "shared/signatures/simon", spacing: false %>
      <%#= render "shared/signatures/lea", spacing: false %>
      <%#= render "shared/signatures/camille", spacing: false %>
      <%#= render "shared/signatures/anais", spacing: false %>
      <%#= render "shared/signatures/theo", spacing: false %>
      <%#= render "shared/signatures/nicolas", spacing: false %>
      <%#= render "shared/signatures/garance", spacing: false %>
      <%#= render "shared/signatures/samuel", spacing: false %>
    </div>
  </body>
</html>