<main id="scrollable" data-scroll-to="<%= params[:member] %>">
  <div class="p-0" style="background-color: rgba(2, 82, 83, 0.03)">
    <div class="-nav-h-screen relative flex items-center justify-center relative bg-cover bg-center bg-no-repeat z-40 bg-banner-offset xl:bg-base" style="background-image: linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.02)), url('<%= image_path("barcelone.jpg") %>'); background-size: cover; background-position: 70% 45%;">

      <div class="absolute inset-x-1/2 bottom-4 text-white">
        <a href="#lea" class="text-3xl">
          <i class="fas fa-chevron-down"></i>
        </a>
      </div>
    </div>
  </div>

  <%= render "pages/partials/team" %>
</main>