<main id="scrollable" data-scroll-to="<%= params[:member] %>">
  <div class="p-0 md:px-12 md:py-20" style="background-color: rgba(2, 82, 83, 0.03)">
    <div class="mb-4 md:mb-0 h-96 lg:h-[32rem] w-full shadow-md" 
        style="background-image: url('<%= asset_path('groupe.jpg') %>'); 
                background-size: cover; 
                background-position: 50% 30%;">
    </div>
  </div>

  <%= render "pages/partials/team" %>
</main>