<div class="wrapper" style="margin-top: 70px;">
    <div class="text-center" style="padding-top: 50px; padding-bottom: 50px; font-size: 30px; letter-spacing: 3px;">
      <% flash.each do |key, value| %>
        <div>
          <%= value %>
        </div>
      <% end %>
    </div>
  </div>

