<div class="wrapper menu-contact" style="background-image: url('<%= cl_image_path("banner_oph6xq.png") %>');">
    <div class="background-menu-contact">
      <%= link_to "ACCUEIL", root_path  %>
      <%= link_to "BLOG", articles_path  %>
    </div>
    <%= cl_image_tag("logo-white_dsazw2.png") %>
</div>

