<header class="-nav-h-screen relative flex items-center justify-center relative bg-cover bg-center bg-no-repeat z-40 bg-banner-offset xl:bg-base" style="background-image: linear-gradient(rgba(0,0,0,0.03),rgba(0,0,0,0.05)), url('<%= image_path("banner-test.jpg") %>'); background-size: cover; background-position: 60% 5%;">
  <%= image_tag "siano-logo.png", id: "file-input", class: 'w-3/5 md:w-3/12 absolute top-32 md:top-0 md:relative' %>
  
  <div class="absolute inset-x-1/2 bottom-4 text-white">
    <a href="#presentation" class="text-3xl">
      <i class="fas fa-chevron-down"></i>
    </a>
  </div>
</header>
