<header class="-nav-h-screen flex items-center justify-center relative custom-y bg-no-repeat z-40 bg-banner-offset md:bg-base" style="background-image: url('<%= image_path("banner.jpg") %>');">
  <div class="translation-banner absolute top-2 right-2" rel="nofollow">
    <a href="/en" class="navbar-wagon-brand">En</a>
    <a href="/es" class="navbar-wagon-brand">Es</a>
  </div>

  <%= image_tag "siano-logo.png", id: "file-input", class: 'w-3/5 md:w-1/3' %>
  
  <div class="absolute inset-x-1/2 bottom-4 text-white">
    <a href="#presentation" class="text-3xl">
      <i class="fas fa-chevron-down"></i>
    </a>
  </div>
</header>
