<section class="wrapper h-full flex items-center justify-center" id="contact" style="background-image: url('<%= cl_image_path("img-contact_npehc9.png") %>');">
  <div class="container bg-sianogray-100">
    <%= render "pages/partials/contact_form", form: form %>
  </div>
</section>