<section class="py-8 px-12 xl:px-24" style="background-color: rgba(2, 82, 83, 0.03)">
  <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-8 gap-4">
    <% I18n.t("team").each do |member| %>
      <div class="portrait">
        <div class="tippy-content hidden">
          <p class="text-white text-center">
            <%= member.dig(1, :name) %>
            <br>
            <span class="font-light"><%= member.dig(1, :status).capitalize %></span>
          </p>
        </div>

        <%= link_to team_path(params: { member: member[0] }) do %>
          <%= image_tag "portraits/#{member.dig(1, :image)}", class: "object-cover h-full w-full" %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>