<div class="px-12 md:px-24 lg:px-32 py-12 grid grid-cols-1 md:grid-cols-2 gap-6 montserrat-light text-sm">
  <div>
    <p class="niramit-semibold text-base mb-2"><%= I18n.translate('presentation.fields') %></p>
    <ul class="list-disc">
      <% I18n.translate('skills.firm.fields').each do |field| %>
        <li><%= field %></li>
      <% end %>
    </ul>
  </div>

  <div>
    <p class="niramit-semibold text-base mb-2"><%= I18n.translate('presentation.stages') %></p>
    <ul class="list-disc">
      <% I18n.translate('skills.firm.stages').each do |stage| %>
        <li><%= stage %></li>
      <% end %>
    </ul>
  </div>
</div>