<p><strong>Nom:</strong> <%= form.name %></p>
<p><strong>Email:</strong> <%= form.email %></p>
<p><strong>Sujet:</strong> <%= form.subject %></p>

<hr>

<p><strong>Message:</strong></p>
<p><%= form.body %></p>