<% if page.current? %>
  <li class='active mx-2 text-gray-300'>
    <%= content_tag :a, page, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: "page-number" %>
  </li>
<% else %>
  <li class="mx-2 text-gray-300">
    <%= link_to page, url, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: "page-number" %>
  </li>
<% end %>
