.btn-articles {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 1rem;
  margin: 3rem 0 !important;
  display: block;
  text-align: center;
}

.btn-category {
  display: block;
  background-color: white;
  color: #0b1938;
  text-align: center;
  letter-spacing: 1.1px;
  margin: auto;
  padding: 12px;
  margin-top: 25px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  text-decoration: none;
}

.btn-category:hover {
  text-decoration: none;
  color: #0b1938;
  background-color: white;
  transition: background 0.3s ease;
}
